[user]
	email = digitalmail555@googlemail.com
	name = Alexander Polynomdivision

[core]
	editor = rvim
	filemode = false
	pager = "diff-so-fancy | less --tabs=4 -RFX"

[transfer]
	fsckObjects = true

[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 52

[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
